@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import "tailwindcss";

body {
  font-family: "Open Sans", "Noto Sans HK", "Noto Sans", sans-serif;
}

.v {
  font-size: var(--text-xs);
  color: var(--color-gray-300);
  padding-right: var(--spacing);
  vertical-align: top;
}

.s {
  font-style: italic;
}
